---
layout: default
title: Articles
header : Post Article
group: navigation
---

<!-- Nav tabs -->
<ul class="nav nav-pills nav-justifiedx">
    <li class=""><a href="/">Home</a></li>
    <li class="active"><a href="/articles.html">Articles</a></li>
    <li class=""><a href="/archive.html">Archive</a></li>
</ul>

<h1>{{ page.title }}</h1>
<div class="posts">
	{% for post in site.posts %}
		<div class="col-md-2">{{ post.date | date_to_string }}</div>
		<div class="col-md-10"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
	{% endfor %}
</div>

{% include articles.html %}
