author: mingsterlayout: default
title: Home
author: mingster
{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}


<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>


<iframe src="//fred.stlouisfed.org/graph/graph-landing.php?g=eGOp&width=100%&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:100%; height:525px;" allowTransparency="true"></iframe>
<a href="https://www.macromicro.me/collections/34/us-stock-relative#ccidx-34-6" target="_blank">美國-信用風險利差</a>
<a href="http://cycjim.pixnet.net/blog/post/223432621-%E8%81%AF%E6%BA%96%E6%9C%83%E7%B8%AE%E8%A1%A8%E5%9C%A8%E5%8D%B3%EF%BC%8C%E9%AB%98%E6%94%B6%E7%9B%8A%E5%82%B5%E8%A9%B2%E8%B3%A3%E5%87%BA%E4%BA%86%E5%97%8E%EF%BC%9F%EF%BC%88%E4%B8%8B" target="_blank">高收益債</a>
<br/><a href="https://cctv.taskinghouse.com/taichung/" target="_blank">台中 監視器即時影像</a>
