@charset "UTF-8";


/* Widget Styling
-------------------------------------------------------------- */
.widget {
	margin-bottom: 1em;
	padding: 1em;
	background: #fff;
	border: 1px solid #e5e5e5;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.widgettitle {
	font-size: 1.0em;
	font-weight: bold;
	font-family: 'Carme', Tahoma, Verdana, Arial;
	padding: 1em;
	margin: -1.5em -1.5em 1.5em -1.5em;
	color: #333;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	line-height: 1.0em;
}
.widget .textwidget {
	line-height: 1.5em;
}
.widget .textwidget p {
	margin-bottom: 1.5em;
}
.widget ul {
	line-height: 1.0em;
}
.widget ul {
	list-style: none;
}
.widget ul .children {
	padding: 0;
	margin: 0.5em 0 0.5em 1em;
}
.widget a:link, .widget a:visited  {
	text-decoration: none;
}
.widget a:hover, .widget a:active {
	text-decoration: underline;
}
.widget img {
	max-width: 100%;
	height: auto;
}

#tagline {
    text-align: left;
    margin-left: 1.5em;
    margin-bottom: 2em;
}

section.main .homepage-archive { float: right }
/* tag_box & category_box */
.tag_box, .category_box {
    list-style: none;
    margin: 0;
    padding: 2px 0;
    overflow: hidden;
    font-size: small;
}
.tag_box li, .category_box li {
    line-height: 20px;
    margin: 0;
}
.tag_box.inline li, .category_box.inline li {
    float: left;
    padding: 2px 0;
}
.tag_box a, .category_box a {
    padding: 2px;
    margin: 2px;
    background: #eee;
    color: #005F6B;
    border-radius: 3px;
    text-decoration: none;
}
.tag_box a span, .category_box a span {
    vertical-align: super;
    font-size: 0.8em;
}
.tag_box a.active, .category_box a.active {
    background: #57A957;
    border: 1px solid #4C964D;
    color: #FFF;
}
/* tag_box & category_box end */

article .post ul { list-style: square; margin-left: 20px;}
article .post ol { list-style: decimal; margin-left: 20px;}
.hljs { font-family: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;}
