@charset "UTF-8";

article header h1 { margin-bottom: 5px }
article header p {
    font-size: 12px;
}
article footer {
    font-size: 12px;
}
article.post footer h1 {
    font-weight: normal;
    display: inline;
    font-size: inherit;
    padding-right: 5px;
}
article.post footer ul {
    display: inline;
    list-style: none;
    padding: 0;
}
article.post footer li {
    display: inline;
    margin-right: 5px;
}
article.post footer li span { display: none }
article footer p.gotop {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-style: normal;
    text-align: left;
}
@media print, screen and (max-width: 320px) {
    section.main .nav { display: none }
    section.main .emblem { display: none }
    section.main .services small { display: none }
    section.main .posts .media > a { display: none }
    /*    section.main .posts .media .media-body > p { display: none; }*/
}
@media print, screen and (max-width: 960px), (max-height: 500px) {
    div.wrapper {
        width: auto;
        margin: 0;
    }
    header.main, section.main, footer.main, aside {
        float: none;
        position: static;
        width: auto;
    }
    header.main {
        /*    padding-right: 320px;*/
    }
    section.main {
        border: 1px solid #e5e5e5;
        /*    border-width: 1px 0;*/
        border-width: 0 0 1px;
        padding: 20px 0;
        margin: 0 0 20px;
    }
    header.main a small { display: inline }
    header.main ul.buttons {
        position: absolute;
        right: 50px;
        top: 52px;
    }
    aside { text-align: left }
}
@media print, screen and (max-width: 720px) {
    body { word-wrap: break-word }
    header.main { padding: 0 }
    header.main ul.buttons { position: static }
    pre, code { word-wrap: normal }
}
@media print, screen and (max-width: 480px) {
    body { padding: 15px }
    header.main ul.buttons { display: none }
}
@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}
/* custom layouts */
.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x ";
}
.clearfix { zoom: 1 } /* IE6-7 */
.right { float: right }
.left { float: left }
img.right { padding: 0 0 8px 8px }
.justify { text-align: justify }
.center { text-align: center }

/* Clearing Floats */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.search{

}
/* post / blog */
/*
#content {
	float: left;
	width: 72%;
	padding-right: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sidebar {
	float: right;
	width: 28%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	max-width: 1340px;
	width: 100%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/
h1, .post h2, /*h3, h4, h5, h6*/ .title, .about { font-family: 'NanumGothicWeb', 'Nanum Gothic', sans-serif; }
pre.prettyprint {
    background-color: #f5f5f5;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/* Widget Styling
-------------------------------------------------------------- */
.widget {
	margin-bottom: 1em;
	padding: 1em;
	background: #fff;
	border: 1px solid #e5e5e5;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.widgettitle {
	font-size: 1.0em;
	font-weight: bold;
	font-family: 'Carme', Tahoma, Verdana, Arial;
	padding: 1em;
	margin: -1.5em -1.5em 1.5em -1.5em;
	color: #333;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	line-height: 1.0em;
}
.widget .textwidget {
	line-height: 1.5em;
}
.widget .textwidget p {
	margin-bottom: 1.5em;
}
.widget ul {
	line-height: 1.0em;
}
.widget ul {
	list-style: none;
	color: #555;
}
.widget ul .children {
	padding: 0;
	margin: 0.5em 0 0.5em 1em;
}
.widget a:link, .widget a:visited  {
	text-decoration: none;
}
.widget a:hover, .widget a:active {
	text-decoration: underline;
}
.widget img {
	max-width: 100%;
	height: auto;
}

#tagline {
    text-align: left;
    margin-left: 1.5em;
    margin-bottom: 2em;
}

section.main .homepage-archive { float: right }
/* tag_box & category_box */
.tag_box, .category_box {
    list-style: none;
    margin: 0;
    padding: 2px 0;
    overflow: hidden;
    font-size: small;
}
.tag_box li, .category_box li {
    line-height: 20px;
    margin: 0;
}
.tag_box.inline li, .category_box.inline li {
    float: left;
    padding: 2px 0;
}
.tag_box a, .category_box a {
    padding: 2px;
    margin: 2px;
    background: #eee;
    color: #005F6B;
    border-radius: 3px;
    text-decoration: none;
}
.tag_box a span, .category_box a span {
    vertical-align: super;
    font-size: 0.8em;
}
.tag_box a.active, .category_box a.active {
    background: #57A957;
    border: 1px solid #4C964D;
    color: #FFF;
}
/* tag_box & category_box end */
