---
layout: page
comments: true
---
<div class="clearfix">
	<section class="col-md-9" role="main">
		{{ content }}
	</section>

	<section class="col-md-3 clearfix right" role="complementary">
		{% include search.html %}

		<aside class="widget">
			<div class="textwidget">
				{% include RecentPosts.html %}
			</div>
		</aside>

		<aside class="widget">
			<div class="textwidget">
				<ul class="category_box">
					{% assign categories_list = site.categories %}
				    {% include JB/categories_list %}
				</ul>
			</div>
		</aside>
	</section>
</div>
